repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.11
  hooks:
    # Run the linter.
    - id: ruff-check
      types_or: [ python, pyi ]
      args: ["--select=I,F401", "--fix"]
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi ]